.nav-links-logo {
  display: inline-grid;
    grid-template-columns: repeat(1, 22px);
    grid-template-rows: repeat(1, 25px);
    position: absolute;
    left: 20px;
    padding: 0px 0;
    align-items: center;
    margin-top: -16px;
}
.nav-links {
    display: inline-grid;
    grid-template-columns: repeat(7, auto);
    grid-gap:15px;
    position: absolute;
    right: 0px;
    padding: 0px 0;
    align-items: center;
    top: 11px;
  }
.icon-gitlab svg {
    width: 20px;
    height: 20px;
    color: #fc6d26;
  }
.icon-discord svg {
    width: 20px;
    height: 20px;
    color: #7289d9;
  }
.icon-ins svg {
    width: 20px;
    height: 20px;
    color: #bc2a8d;
  }
.icon-xtwitter svg {
    width: 20px;
    height: 20px;
    color: #000000;
  }
.icon-linkedin svg {
    width: 20px;
    height: 20px;
    color: #0A66C2;
  }

.folders {
    display: inline-grid;
    grid-template-rows: repeat(3, 25px);
    grid-gap:95px;
    position: absolute;
    left: 50px;
    padding: 0px 0;
    align-items: center;
    top: 130px;
    text-align: center;
  }
  .folder-name {
    display: inline-grid;
    grid-template-rows: repeat(3, 25px);
    grid-gap:95px;
    position: absolute;
    left: -4px;
    padding: 0px 0;
    align-items: center;
    top: 43px;
    text-align: center;
  }
  .folder-name1 {
    display: inline-grid;
    grid-template-rows: repeat(3, 25px);
    grid-gap:95px;
    position: absolute;
    left:5px;
    padding: 0px 0;
    align-items: center;
    top: 163px;
    text-align: center;
  }
.icon-folder svg {
    width: 70px;
    height: 70px;
    color: #F8D775;
  }
.nav-links-text {
    color: black;
    font-family: 'Micro 5';
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
  }

.menu-border {
  padding-left:100px;
  padding-right: 100px;
  padding-top: 3.5px;
  padding-bottom: 7.5px;
  background-color: darkgray;
}

.bcg-image {
  position: absolute;
  height: 100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  margin-top: -22px;
  margin-left: -8px;

}

.load-image {
  position: absolute;
  height: 100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}


